body {
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  background-color: #D4D4D4;
}

@media only screen and (max-width: 768px) {

  /* navbar css */
  nav {
    display: flex;
    justify-content: space-around;
    width: 96%;
    align-items: center;
    background-color: #000000;
  }

  header {
    height: 140px;
    padding-top: 10px;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: #000000;
  }



  .delivery>a>img {
    width: 30px;
    /* background-color: black; */
  }

  .pickup>img {
    width: 30px;
  }

  .delivery>img {
    width: 30px;

  }

  .logo {
    display: flex;
    justify-content: flex-start;
    gap: 5px !important;
    width: 80%;
    align-items: center;
  }

  .logo>a>img {
    width: 100%;
    margin-bottom: 60px;
    margin-left: 40%;
  }
  .pick1 {
    margin-left: 10%;
  }
  
  .del-pick {
    align-self: flex-end;
  }

  .delivery {
    border: 2px solid #EA002A;
    padding: 5px;
    width: 150px;
    background-color: #1C1816;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;

  }

  .pickup {
    font-size: 14px;
    border-radius: 3px;
    background-color: #1C1816;
    text-transform: uppercase;
    padding: 5px;
    width: 150px;
    border: none;
  }

  .bucket {
    width: 6%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bucket>a>button {
    order: -2;
    background-color: #EA002A;
    border-radius: 3px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {

  .logo>a>img {
   margin-left: 80%;
  }

  .pick1 {
    margin-left: 10%;
  }
  
}

/* navbar css */
nav {
  display: flex;
  justify-content: space-between;
  width: 96%;
  align-items: center;
  /* margin: 0 auto; */
  height: 100px;
  background-color: #000000;
}

header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 100px;

  background-color: #000000;
}


.delivery>a>img {
  width: 30px;
  /* background-color: black; */
}

.pickup>img {
  width: 30px;
}

.delivery>img {
  width: 30px;

}

.logo {
  display: flex;
  justify-content: flex-start;
  /* position: absolute;
 left: 100px; */
  width: 80%;
  align-items: center;
}

.delivery {
  border: 2px solid #EA002A;
  padding: 5px;
  width: 150px;
  background-color: #1C1816;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;

}

.pickup {
  font-size: 14px;
  border-radius: 3px;
  background-color: #1C1816;
  text-transform: uppercase;
  padding: 5px;
  width: 150px;
  border: none;
}

.bucket>a>button {
  background-color: #EA002A;
  border-radius: 3px;
  font-size: 14px;
}

/* navbar css ended */



section {
  margin-top: 160px;
}

section h5 {
  font-size: 16px;
}




/* footer */

footer {
  background-color: #1C1816;

}


ul {
  list-style-type: none;
}

.col-md-3 li {
  margin-top: 10px;
}

.col-md-3 a {
  text-decoration: none;
  color: #fff;
  /* font-weight: bold; */
  font-size: 18px;
}

.col-md-3 img {
  margin-top: 15px;
}


.power>h5 {
  font-weight: bold;
  color: #EA002A;
  text-transform: capitalize;
  font-size: 16px;
}

.power a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}


footer li {
  transition: color .3s;
}

footer li:hover {
  color: #EA002A;
}