body {
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  background-color: #D4D4D4;
}

@media only screen and (max-width: 768px) {

  /* navbar css */
  nav {
    display: flex;
    justify-content: space-between;
    width: 96%;
    align-items: center;
    /* margin: 0 auto; */
    height: 140px;
    background-color: #000000;
  }

  header {
    padding-top: 10px;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: #000000;
  }



  .delivery>a>img {
    width: 30px;
    /* background-color: black; */
  }

  .pickup>img {
    width: 30px;
  }

  .delivery>img {
    width: 30px;

  }

  .logo {
    display: flex;
    justify-content: flex-start;
    gap: 5px !important;
    width: 100%;
    align-items: center;
  }

  .logo>a>img {
    width: 80%;
    margin-bottom: 60px;
    margin-left: 30px;
  }

  .pick1 {
    margin-left: 10%;
  }

  .del-pick {
    align-self: flex-end;
  }

  .delivery {
    border: 2px solid #EA002A;
    padding: 5px;
    width: 150px;
    background-color: #1C1816;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;

  }

  .pickup {
    font-size: 14px;
    border-radius: 3px;
    background-color: #1C1816;
    text-transform: uppercase;
    padding: 5px;
    width: 150px;
    border: none;
  }

  .bucket {
    width: 6%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bucket>a>button {
    order: -2;
    background-color: #EA002A;
    border-radius: 3px;
    font-size: 14px;
  }

  /* navbar ended */


  .contact .col-md-4 {
    width: 100% !important;
    padding: 20px;
    margin: 10px 20px 10px 0px;
    border-radius: 5px;
    background-color: #1C1816;
  }

  .contact h4 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 1.2;

  }

  .contact img {
    margin-right: 10px;
  }

  .col-md-4 p {
    font-size: 17px;
    line-height: 1.2;
  }

  .col-md-6 {
    width: 100% !important;
    padding: 20px;
    margin: 10px 20px 10px 0px;
    border-radius: 5px;
    background-color: #1C1816;
  }

}

@media only screen and (max-width: 1160px) and (min-width: 768px) {

  .logo>a>img {
    margin-left: 80%;
  }

  .pick1 {
    margin-left: 10%;
  }

  .col-md-6 {
    width: 100% !important;
    padding: 20px;
    margin: 10px 20px 10px 0px;
    border-radius: 5px;
    background-color: #1C1816;
  }

  .contact .col-md-4 {
    width: 100% !important;
    padding: 20px;
    margin: 10px 20px 10px 0px;
    border-radius: 5px;
    background-color: #1C1816;
  }
}

/* navbar css */
nav {
  display: flex;
  justify-content: space-between;
  width: 96%;
  align-items: center;
  /* margin: 0 auto; */
  height: 100px;
  background-color: #000000;
}

header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 100px;

  background-color: #000000;
}

.delivery>a>img {
  width: 30px;
  /* background-color: black; */
}

.pickup>img {
  width: 30px;
}

.delivery>img {
  width: 30px;

}

.logo {
  display: flex;
  justify-content: flex-start;
  /* position: absolute;
 left: 100px; */
  width: 80%;
  align-items: center;
}

.delivery {
  border: 2px solid #EA002A;
  padding: 5px;
  width: 150px;
  background-color: #1C1816;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;

}

.pickup {
  font-size: 14px;
  border-radius: 3px;
  background-color: #1C1816;
  text-transform: uppercase;
  padding: 5px;
  width: 150px;
  border: none;
}

.bucket>a>button {
  background-color: #EA002A;
  border-radius: 3px;
  font-size: 14px;
}

/* navbar css ended */

h3 {
  margin-top: 160px;
  font-weight: bold;
  text-align: center;
}

.contact .col-md-4 {
  width: 31.555%;
  padding: 20px;
  margin: 10px 20px 10px 0px;
  border-radius: 5px;
  background-color: #1C1816;
}

.contact h4 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 1.2;

}

.contact img {
  margin-right: 10px;
}

.col-md-4 p {
  font-size: 17px;
  line-height: 1.2;
}

.col-md-6 {
  width: 48.2%;
  padding: 20px;
  margin: 10px 20px 10px 0px;
  border-radius: 5px;
  background-color: #1C1816;
}

.col-md-6 h4 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 1.2;

}

.col-md-6 img {
  margin-right: 10px;
}

.col-md-6 p {
  font-size: 17px;
  line-height: 1.2;
}