body {
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  background-color: #D4D4D4;
}

@media only screen and (max-width: 768px) {

  /* navbar css */
  nav {
    display: flex;
    justify-content: space-between;
    width: 96%;
    align-items: center;
    /* margin: 0 auto; */
    height: 140px;
    background-color: #000000;
  }

  header {
    padding-top: 10px;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: #000000;
  }



  .delivery>a>img {
    width: 30px;
    /* background-color: black; */
  }

  .pickup>img {
    width: 30px;
  }

  .delivery>img {
    width: 30px;

  }

  .logo {
    display: flex;
    justify-content: flex-start;
    gap: 5px !important;
    width: 80%;
    align-items: center;
  }

  .logo>a>img {
    width: 80%;
    margin-bottom: 60px;
    margin-left: 40%;
  }

  .del-pick {
    align-self: flex-end;
  }

  .delivery {
    border: 2px solid #EA002A;
    padding: 5px;
    width: 150px;
    background-color: #1C1816;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;

  }

  .pickup {
    font-size: 14px;
    border-radius: 3px;
    background-color: #1C1816;
    text-transform: uppercase;
    padding: 5px;
    width: 150px;
    border: none;
  }

  .bucket {
    width: 6%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bucket>a>button {
    order: -2;
    background-color: #EA002A;
    border-radius: 3px;
    font-size: 14px;
  }

  /* navbar ended */



  /* login section  */

  .chacha {
    width: 100% !important;
    align-items: center;
  }
  .login-section {
    background-color: #1C1816;
    width: 70%;
    margin-top: 150px;
    height: auto !important;
    flex-direction: column;
  }

  .form-section {
    padding: 20px;
  }
  .form-section h3 {
    margin-top: 0px !important;
  }
  .num {
    background-color: #242120;
    width: 100% !important;
    border-bottom: 1px solid white;
    padding: 0px 5px 5px 5px;
    height: 60px;
  }

  .num>label {
    margin-left: 15px;
  }

  .num>label>input {
    outline: none;
    background-color: #242120;
    border: none;
    margin-left: 10px;

  }

  .log-btn,
  .log-btn+button {
    background-color: #EA002A;
    width: 100% !important;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    border: none;
    /* height: 40px; */
    border-radius: 3px;
    text-transform: uppercase;
  }

}

@media only screen and (max-width: 1000px) {

  .logo>a>img {
    margin-left: 80%;
  }

  .pick1 {
    margin-left: 10%;
  }

  
  /* login section  */

  .chacha {
    width: 100% !important;
    align-items: center;
  }
  .login-section {
    background-color: #1C1816;
    width: 70%;
    margin-top: 150px;
    height: auto !important;
    flex-direction: column;
  }

  .form-section {
    padding: 20px;
  }
  .form-section h3 {
    margin-top: 0px !important;
  }
  .num {
    background-color: #242120;
    width: 100% !important;
    border-bottom: 1px solid white;
    padding: 0px 5px 5px 5px;
    height: 60px;
  }

  .num>label {
    margin-left: 15px;
  }

  .num>label>input {
    outline: none;
    background-color: #242120;
    border: none;
    margin-left: 10px;

  }

  .log-btn,
  .log-btn+button {
    background-color: #EA002A;
    width: 100% !important;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    border: none;
    /* height: 40px; */
    border-radius: 3px;
    text-transform: uppercase;
  }

}





/* navbar css */
nav {
  display: flex;
  justify-content: space-between;
  width: 96%;
  align-items: center;
  /* margin: 0 auto; */
  height: 100px;
  background-color: #000000;
}

header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 100px;

  background-color: #000000;
}


.delivery>a>img {
  width: 30px;
  /* background-color: black; */
}

.pickup>img {
  width: 30px;
}

.delivery>img {
  width: 30px;

}

.logo {
  display: flex;
  justify-content: flex-start;
  /* position: absolute;
 left: 100px; */
  width: 80%;
  align-items: center;
}

.delivery {
  border: 2px solid #EA002A;
  padding: 5px;
  width: 150px;
  background-color: #1C1816;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;

}

.pickup {
  font-size: 14px;
  border-radius: 3px;
  background-color: #1C1816;
  text-transform: uppercase;
  padding: 5px;
  width: 150px;
  border: none;
}

.bucket>a>button {
  background-color: #EA002A;
  border-radius: 3px;
  font-size: 14px;
}

/* navbar css ended */


/* login section  */

.login-section {
  background-color: #1C1816;
  width: 70%;
  margin-top: 150px;
  height: 360px;
}

.num {
  background-color: #242120;
  width: 145%;
  border-bottom: 1px solid white;
  padding: 0px 5px 5px 5px;
  height: 60px;
}

.num>label {
  margin-left: 15px;
}

.num>label>input {
  outline: none;
  background-color: #242120;
  border: none;
  margin-left: 10px;


}

.num>label>span {
  font-size: 11px;
}

.log-btn,
.log-btn+button {
  background-color: #EA002A;
  width: 145%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  border: none;
  /* height: 40px; */
  border-radius: 3px;
  text-transform: uppercase;
}

.log-btn {
  background-color: #e4002b45;
  cursor: not-allowed;
}

.bigG::before {
  content: "G";
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  right: 75px;
  font-size: 22px;
}





#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}




#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px 10px 50px 30px;
  padding-top: 125px;
  background: #1C1816;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  overflow-y: auto;
  height: 700px;


}

#menu .bucket {
  width: 250px;
}

.day {
  position: relative;
  left: 20px;
  background-color: #000;
  width: 60px;
  text-align: left;

}

.time button {
  padding: 8px 8px;
  font-size: 14px;
  border: none;
}

.night {
  width: 53px;
  background-color: #EA002A;
  position: relative;
  z-index: 5;
}

#menu-bar {
  margin-top: 12px !important;
  height: 1px !important;
  border: 1px solid #6b6b6b;
  width: 250px !important;
  margin-bottom: 25px !important;
}

#service {
  width: 250px !important;
  list-style-type: none;
}

#service img {
  width: 25px;
  margin-right: 10px !important;
}

#service>a {
  /* padding: 0 !important; */
  color: #fff;
  display: block;
  font-size: 18px !important;
  padding: 0px 0 0px 10px !important;
  margin: 5px 0;
  transition: all .4s;
}

/* #service div {
} */
#service>a:hover {
  transform: scale(1.1);
  background-color: #A3A3A3;
  padding-left: 0 !important;
  width: 250px !important;
  color: #fff !important;
}

#service li {
  font-size: 18px !important;
}

#menu>a {
  /* padding: 0 !important; */
  color: #fff;
  display: block;
  font-size: 18px !important;
  padding: 0px 0 0px 10px !important;
  margin: 5px 0;
  transition: all .4s;
}

/* #service div {
} */
#menu>a:hover {
  transform: scale(1.1);
  background-color: #A3A3A3;
  padding-left: 0 !important;
  width: 250px !important;
  color: #fff !important;
}

#menu li {
  padding: 10px 0;
  font-size: 18px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
  transform: none;
}