body {
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  background-color: #D4D4D4;
}


/* navbar css */
nav {
  display: flex;
  justify-content: space-between;
  width: 96%;
  align-items: center;
  /* margin: 0 auto; */
  height: 100px;
  background-color: #000000;
}

header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 100px;

  background-color: #000000;
}


.delivery>a>img {
  width: 30px;
  /* background-color: black; */
}

.pickup>img {
  width: 30px;
}

.delivery>img {
  width: 30px;

}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  align-items: center;
}

.delivery {
  border: 2px solid #EA002A;
  padding: 5px;
  width: 150px;
  background-color: #1C1816;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;

}

.pickup {
  font-size: 14px;
  border-radius: 3px;
  background-color: #1C1816;
  text-transform: uppercase;
  padding: 5px;
  width: 150px;
  border: none;
}

.bucket>a>button {
  background-color: #EA002A;
  border-radius: 3px;
  font-size: 14px;
}

/* navbar css ended */


.main-img {
  margin-top: 150px;
}

.quote-img {
  width: 80%;
  display: block;
  margin: auto;
}


.pak {
  color: green;
}

.card-images img {
  width: 100%;
}

.card-images .col-md-3 {
  margin-right: 95px;
}


.hero-section>img {
  width: 100%;
}

.hero-section>h3 {
  width: 90%;
  letter-spacing: -1px;
  margin: auto;
  font-weight: bold;
  font-size: 24px;
  margin-top: -90px !important;
  text-align: center;
}

.hero-section>h3>span {
  color: #EA002A;
}

.together {
  background-color: #1C1816;
  padding: 70px 0;
}


.departments {
  margin-top: 100px;
  padding-top: 20px;
}

.departments>div {
  gap: 50px;
}

.departments>div>div>p>span {
  color: #EA002A;
}

.school>img {
  width: 45%;
}

.diverse>img {
  width: 48%;
}

.childs {
  padding: 90px 60px;
  background-image: url("../images/mitao\ bhook/child.png");
  background-repeat: no-repeat
}

.childs p {
  /* font-size: 20px; */
  text-align: center;
  letter-spacing: -1px;
  line-height: 24px;
}


/* footer */

footer {
  background-color: #1C1816;
}


ul {
  list-style-type: none;
}

.col-md-3 li {
  margin-top: 10px;
}

.col-md-3 a {
  text-decoration: none;
  color: #fff;
  /* font-weight: bold; */
  font-size: 18px;
}

.col-md-3 img {
  margin-top: 15px;
}


.power>h5 {
  font-weight: bold;
  color: #EA002A;
  text-transform: capitalize;
  font-size: 16px;
}

.power a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}


footer li {
  transition: color .3s;
}

footer li:hover {
  color: #EA002A;
}





@media only screen and (max-width: 768px) {

  /* navbar css */
  nav {
    display: flex;
    justify-content: space-between;
    width: 96%;
    align-items: center;
    /* margin: 0 auto; */
    height: 140px;
    background-color: #000000;
  }

  header {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: #000000;
  }



  .delivery>a>img {
    width: 30px;
    /* background-color: black; */
  }

  .pickup>img {
    width: 30px;
  }

  .delivery>img {
    width: 30px;

  }

  .logo {
    display: flex;
    justify-content: flex-start;
    gap: 5px !important;
    width: 80%;
    align-items: center;
  }

  .logo>a>img {
    width: 80%;
    margin-bottom: 60px;
    margin-left: 30px;
  }
  .pick1 {
    margin-left: 10%;
  }

  .del-pick {
    align-self: flex-end;
  }

  .delivery {
    border: 2px solid #EA002A;
    padding: 5px;
    width: 150px;
    background-color: #1C1816;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;

  }

  .pickup {
    font-size: 14px;
    border-radius: 3px;
    background-color: #1C1816;
    text-transform: uppercase;
    padding: 5px;
    width: 150px;
    border: none;
  }

  .bucket {
    width: 6%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bucket>a>button {
    order: -2;
    background-color: #EA002A;
    border-radius: 3px;
    font-size: 14px;
  }

  /* navbar css ended */

  .main-img {
    margin-top: 150px;
  }

  .quote-img {
    width: 80%;
    display: block;
    margin: auto;
  }


  .pak {
    color: green;
  }

  .card-images img {
    width: 100%;
  }

  .card-images .col-md-4 {
    margin-bottom: 30px;
  }


  .hero-section>img {
    width: 100%;
  }

  .hero-section>h3 {
    width: 90%;
    letter-spacing: -1px;
    margin: auto;
    font-weight: bold;
    font-size: 24px;
    margin-top: -90px !important;
    text-align: center;
  }

  .hero-section>h3>span {
    color: #EA002A;
  }

  .together {
    background-color: #1C1816;
    padding: 70px 0;
  }


  .departments {
    margin-top: 100px;
    padding-top: 20px;
  }

  .departments>div {
    gap: 50px;
  }

  .departments>div>div>p>span {
    color: #EA002A;
  }

  .school {
    display: flex;
    flex-direction: column;
  }

  .school>div {
    order: -2;
    text-align: center;
  }

  .diverse {
    display: flex;
    flex-direction: column;
  }

  .diverse>div {
    order: -2;
    text-align: center;
  }

  .school>img {
    width: 100%;
  }

  .diverse>img {
    width: 100%;
  }


  .childs {
    padding: 90px 60px;
    background-image: url("../images/mitao\ bhook/child.png");
    background-repeat: no-repeat
  }

  .childs p {
    /* font-size: 20px; */
    text-align: center;
    letter-spacing: -1px;
    line-height: 24px;
  }


  /* footer */

  footer {
    background-color: #1C1816;
  }


  ul {
    list-style-type: none;
  }

  .col-md-3 li {
    margin-top: 10px;
  }

  .col-md-3 a {
    text-decoration: none;
    color: #fff;
    /* font-weight: bold; */
    font-size: 18px;
  }

  .col-md-3 img {
    margin-top: 15px;
  }


  .power>h5 {
    font-weight: bold;
    color: #EA002A;
    text-transform: capitalize;
    font-size: 16px;
  }

  .power a {
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }


  footer li {
    transition: color .3s;
  }

  footer li:hover {
    color: #EA002A;
  }

}


@media only screen and (max-width: 1200px) and (min-width: 768px){

  .logo>a>img {
    margin-left: 80%;
  }

  .pick1 {
    margin-left: 10%;
  }

}





