body {
  margin: 0;
  padding: 0;

  color: #fff;
  background-color: #000000;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  background-color: #D4D4D4;
}


@media only screen and (max-width: 768px) {

  /* navbar css */
  nav {
    display: flex;
    justify-content: space-between;
    width: 96%;
    align-items: center;
    /* margin: 0 auto; */
    height: 140px;
    background-color: #000000;
  }

  header {
    padding-top: 10px;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: #000000;
  }



  .delivery>a>img {
    width: 30px;
    /* background-color: black; */
  }

  .pickup>img {
    width: 30px;
  }

  .delivery>img {
    width: 30px;

  }

  .logo {
    display: flex;
    justify-content: flex-start;
    gap: 5px !important;
    width: 80%;
    align-items: center;
  }

  .logo>a>img {
    width: 80%;
    margin-bottom: 60px;
    margin-left: 30px;
  }

  .pick1 {
    margin-left: 10%;
  }

  .del-pick {
    align-self: flex-end;
  }

  .delivery {
    border: 2px solid #EA002A;
    padding: 5px;
    width: 150px;
    background-color: #1C1816;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;

  }

  .pickup {
    font-size: 14px;
    border-radius: 3px;
    background-color: #1C1816;
    text-transform: uppercase;
    padding: 5px;
    width: 150px;
    border: none;
  }

  .bucket {
    width: 6%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bucket>a>button {
    order: -2;
    background-color: #EA002A;
    border-radius: 3px;
    font-size: 14px;
  }

  /* navbar ended */

}

@media only screen and (max-width: 1200px) and (min-width: 768px) {

  .logo>a>img {
    margin-left: 80%;
  }

  .pick1 {
    margin-left: 10%;
  }
}





/* navbar css */
nav {
  display: flex;
  justify-content: space-between;
  width: 96%;
  align-items: center;
  /* margin: 0 auto; */
  height: 100px;
  background-color: #000000;
}

header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 160px;

  background-color: #000000;
}

.delivery>a>img {
  width: 30px;
  /* background-color: black; */
}

.pickup>img {
  width: 30px;
}

.delivery>img {
  width: 30px;

}

.logo {
  display: flex;
  justify-content: flex-start;
  /* position: absolute;
  left: 100px; */
  width: 80%;
  align-items: center;
}

.delivery {
  border: 2px solid #EA002A;
  padding: 5px;
  width: 150px;
  background-color: #1C1816;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;

}

.pickup {
  font-size: 14px;
  border-radius: 3px;
  background-color: #1C1816;
  text-transform: uppercase;
  padding: 5px;
  width: 150px;
  border: none;
}

.bucket>a>button {
  background-color: #EA002A;
  border-radius: 3px;
  font-size: 14px;
}

.btn-section {
  width: 100%;
  height: 30px;
}

.btn-section>a {
  background-color: #1C1816;
  color: #fff !important;
  font-size: 14px;
  padding: 10px 15px;
}

.btn-section>a:hover {
  background-color: #1C1816;
}

.btn-section>a:active {
  border: none;
  background-color: #EA002A !important;
}


/* navbar ended */

.menu-section {
  width: 94%;
  margin: auto;
}

.bar {
  width: 60px;
  height: 4px;
  background-color: #EA002A;
  position: relative;
  top: 154px;
}

h2.top-deals {
  position: relative;
  top: 160px;
}

.first-row {
  margin-top: 180px;
}

.card {
  width: 241px;
  background-color: #1C1816;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  color: #fff;
}

.kfc-box>span {
  width: 15px;
  height: 22px;
  background-color: #EA002A;
}

.heart {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-body {
  /* height: 30%; */

}

.card-img-top {
  width: 230px;
  /* transition: transform 0.3s ease; */
  transition: transform 0.2s ease;
  margin-left: 10px;
}

.card-img-top:hover {
  transform: scale(1.11);
}

.card-body p {
  font-size: 14px;
}

.card-body a {
  color: #fff;
  background-color: #EA002A;
  font-size: 13px;
  transition: all .3s;
  width: 145px;
  transform: translate(30%, 80%)
}

.card-body a:hover {
  color: #EA002A;
  background-color: #fff;
  border: 1px solid #EA002A;
}


/* tracking card */

.for-position {
  position: sticky;
  top: 0px;
  bottom: 640px;
}

.best-sellers-item {
  width: 405px;
  background-color: #1C1816;
  border-radius: 5px;
  position: absolute;
  height: 500px;
  right: 10px;
  top: 120px;
}

.best-sellers-item>div {
  border-bottom: 1px solid #EA002A;
}

.best-sellers-item>div>div>span {
  width: 15px;
  height: 22px;
  background-color: #EA002A;
}

.best-sellers-item>div>img {
  margin: auto;
  display: block;
  margin-top: 20px;
  width: 250px;
}

.best-sellers-item>div>img {
  float: right;
}

.best-sellers-container {
  overflow-x: auto;
}

.best-sellers-item h6 {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  text-transform: capitalize;
}

.parent-card {
  text-decoration: none !important;
  border: none;
}

.kfc-card-price {
  width: 405px;
  margin-inline: -1rem;
  max-width: none;
  padding: 14px 15px;
  position: relative;
  border-radius: 1rem 1rem 0 0;
  color: #fff;
  cursor: pointer;
  /* right: 58px; */
  left: 16px;
  top: 40px;
  background: linear-gradient(257deg, #e4002b 42%, #ff4065 52%, #e4002b 64%);
}


.kfc-card-price::before {
  border-left: 10px solid #960824;
  inset: auto 0 -10px auto;
}



.bar1 {
  width: 70px;
  height: 4px;
  background-color: #EA002A;
}